
body {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27); 
    tab-size: 100vh;
}

.main {
    margin:0 auto;
    width: 95vw;
    height: 95vh;
}



.table-cell-1 {
    background-color:  #fafafa;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    width: 198px;
    height: 112px;
}

.link-cell--1 {
    background-color: rgb(137, 195, 49);
}



.link-cell {
    text-decoration: none;
    color:  #484848;
}

.th234 {
    height: 166px;
    width: 157px;
}

.table-cell2 {
     background-color:  #fafafa
}

.table-cell44 {
    width: 198px;
    background-color: rgb(32, 128, 124); 
    height: 166px;
}

.bt {
    border-radius: 5px;
    background-color:  #414141;
    width: 144px;
    height: 41px;
    color: #ffffff;
}

.table-cell {
    background-color: rgb(228, 228, 228);
}

.link-cell--3 {
    
}

.support-4.png {
    
}

.storage-1.png {
    display: inline-block;
    width: 98px;
    height: 48px;
    background: url('storage-1.png');
}

.table-cell33 {
    width: 198px;
    height: 166px;
    background-color: rgb(240, 74, 86);
}

.table-cell22 {
    width: 198px;
    height: 166px;
    background-color: rgb(137, 195, 49);
}

.link-cell-0 {
    color:  #ffffff;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 28px;/* Приближение из-за подстановки шрифтов */
    
    text-decoration: none;
}

table {
    font-family: Arimo;
    width: 1197px;
    border-spacing: 0 1px;
    text-align: center;
    margin: 0 auto;
    border: 30px solid rgb(55, 71, 101);
}
